<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Real Time Web Chat</title>
    <script src="http://gn-inbound.s3.amazonaws.com/library/socket.io-client/dist/socket.io.js"></script>
  </head>
  <body>
    <div id="content" style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;"></div>
    <div class="controls">
      <input id="field" type="text" name="field" style="width: 350px" >
      <input id="send" type="submit" name="send">
    </div>
    <script type="text/javascript">
    window.onload = function() {

        var messages = [];
        var socket = io.connect('http://localhost:8081');
        var field = document.getElementById("field");
        var sendButton = document.getElementById("send");
        var content = document.getElementById("content");

        socket.on('message', function (data) {
            if(data.message) {
                messages.push(data.message);
                var html = '';
                for(var i=0; i<messages.length; i++) {
                    html += messages[i] + '<br />';
                }
                content.innerHTML = html;
                // content.scrollTop = content.scrollHeight;
            } else {
                console.log("There is a problem:", data);
            }
        });

        sendButton.onclick = function() {
            var text = field.value;
            socket.emit('send', { message: text });
        };

    }
    </script>
  </body>
</html>
