<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <p>Welcome to the <%= title %></p>
    <h3>Endpoints</h3>
    <ul>
      <li>Users</li>
      <code>GET</code>
      <li><a href="/login">/login</a></li>
      <li><a href="/users"></a></li>
      <li><a href="/users?username=First_Last">/users?username=First_Last</a></li>
      <li>REAL-TIME Chat App</li>
      <code>GET</code>
      <li><a href="/chat">/chat</a></li>
      <li>Records</li>
      <li>GET / PUT</li>
      <li><a href="/record?">/record</a></li>
      <li>PROJECTS</li>
      <li>GET / POST / PUT / PATCH / DELETE </li>
      <li><a href="/projects"></a></li>
    </ul>

    </p>

    <script src="http://gn-inbound.s3.amazonaws.com/library/socket.io-client/dist/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io('//gnappwithsockets.zhjpne8fw9.us-west-2.elasticbeanstalk.com.com:8081');
      socket.on('socketToMe', function (data) {
        console.log(data);
      });
    </script>
  </body>
</html>
