extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src="http://gn-inbound.s3.amazonaws.com/library/socket.io-client/dist/socket.io.js")
  script.
    var socket = io('//localhost:8081');
    socket.on('socketToMe', function (data) {
      console.log(data);
    });
