<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <p>Welcome to the <%= title %></p>
    <h3>Endpoints</h3>
    <ul>
      <div>
        Users
      </div>
      <code>GET</code>
      <a href="/login">/login</a>
      <a href="/users">/users</a>
      <div>
        REAL-TIME Chat App
      </div>
      <code>GET</code>
      <a href="/chat">/chat</a>
      <div>
        GET / PUT
      </div>
      <a href="/record?">/record</a>
      <div>
        PROJECTS
      </div>
      <div>
        GET / POST / PUT / PATCH / DELETE
      </div>
      <a href="/projects">/projects</a>
    </ul>

    </p>

    <script src="http://gn-inbound.s3.amazonaws.com/library/socket.io-client/dist/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io('//gnappwithsockets.zhjpne8fw9.us-west-2.elasticbeanstalk.com.com:8081');
      socket.on('socketToMe', function (data) {
        console.log(data);
      });
    </script>
  </body>
</html>
