extends layout

block content
form(action="/login", method="post")
        div.input
            span.label username
            input(type="text", name="username")
        div.input
            span.label password
            input(type="text", name="password")
        div.actions
            input(type="submit", value="add")
