<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>record</title>
  </head>
  <body>
    <div id="message-board">
      <button id="button" type="button" name="button">click me</button>
    </div>
    <script src="//d3h2rzcfh3oxa4.cloudfront.net/socket.io-client/dist/socket.io.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript">
    i = 0;
    window.onload = function() {

      // PROD - DO NOT CHANGE
      // var recordSocket = io.connect('//54.214.168.107:8081/record');
      var recordSocket = io('http://localhost:8081/record');

      $("#button").on("click", function(e){
        // recordSocket.open();
        // recordSocket.emit('ping', 'hello human');
        recordSocket.emit('startRecording', 'file.mov');
      });

      recordSocket.on('hi', function(msg){
        var numPeople = i + 1;
        var html = '<li>' + numPeople + ' con`nections</li>';
        $('#message-board').append(html);
        i++;
      })
      ///
    };
    </script>
  </body>
</html>
