<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>record</title>
  </head>
  <body>
    <div>
      <input type="file" name="file-uploader" value="">
      <input type="submit" name="" value="upload">
    </div>
    <script src="//d3h2rzcfh3oxa4.cloudfront.net/socket.io-client/dist/socket.io.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//s3-us-west-2.amazonaws.com/gn-inbound/library/delivery/lib/client/delivery.js">

    </script>
    <script type="text/javascript">
    $(function(){
      var socket = io.connect('http://localhost:8081/record');

      socket.on('connect', function(){
        var delivery = new Delivery(socket);
        delivery.listen(socket);
        delivery.on('delivery.connect',function(delivery){
          $("input[type=submit]").click(function(evt){
            var file = $("input[type=file]")[0].files[0];
            var extraParams = {foo: 'bar'};
            delivery.send(file, extraParams);
            evt.preventDefault();
          });
        });

        delivery.on('send.success',function(fileUID){
          console.log("file was successfully sent.");
        });
      });
    });
    </script>
  </body>
</html>
